.agendamentos{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.div_agendamento{
    border:1px solid red;
    padding:20px;
    background-color:#FBF8FF;
    border-radius:20px;
    width: 90%;
}

.foto_paciente{
    border-radius:50%;
    width: 13%;
    height:13%;
}

.primeira_div_agendamento{
    padding:10px;
    display:flex;
    border:1px solid blue;
    align-items: center;
}

.div_interna_agendamentos{
    border:1px solid gold;
    width: 80%;
    margin:5px;
    padding:5px;
}

.fonte_cinza{
    color:#969696;
}

.consulta_camera{
    display: flex;
    gap: 4px;
}

