body{
    background-color:#FAF8FE;
}

.agendamentos{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}

.agendamentos h2{
    color:#464646;
    width: 80%;
}

.div_agendamento{
    padding:20px;
    background-color:#ffffff;
    border-radius:20px;
    width: 94%;
}

.foto_paciente{
    border-radius:50%;
    width: 16%;
    height:13%;
    margin-right: 10px;
}

.comentario_img{
    width:16%;
}

.primeira_div_agendamento{
    padding:10px;
    display:flex;
    align-items: center;
}

.div_interna_agendamentos{
    width: 80%;
    margin:5px;
    padding:5px;
}

.nome_paciente{
    color: #464646;
}

.fonte_cinza{
    color:#969696;
}

.consulta_camera{
    display: flex;
    gap: 4px;
}

.linha_divisao{
    border:1px solid #ECECEC;
    width:100%;
    display:flex;
    margin:4px;
}

.botos_div{
    display:flex;
    justify-content: space-around;
}

.botoes{
    padding:12px;
    border-radius:10px;
    border:none;
}

#botao_laranja{
    background-color:#FFB050;
    color:#ffffff;
}

#botao_branco{
    border:1px solid #ECECEC;
    background-color:#ffffff;
    color:black;
}

#botao_endereco{
    width:100%;
    color:#ffffff;
    background-color:#4894FF;
}


.horario_agendamento{
    margin-top:20px;
}

.horario_agendamento p{
    margin:10px
}
