#caixa_eclipse{
    margin: 10px;
    position: fixed;
    bottom: 54px;
    left:74%;
    top: 70%;
    width:17%
}

#menu_lateral_btn_localizacao , #menu_lateral_btn_camera{
    position: fixed;
    display: flex;
    left:10%;
}

#menu_lateral_btn_localizacao{
    top: 47%;
}

#menu_lateral_btn_camera{
    top: 60%;
}

.menu_lateral ul li p {
    background-color: green;
    height: 30px;
    border-radius: 24px;
    display:flex;   
    flex-direction:row;
    padding:9px;
    font-size:12px;
}

.menu_lateral ul li{
    display: flex;
    align-items:center;
    width:90%;
    justify-content:space-between;
}




footer{
    background-color:#ffffff;
    position: fixed;
    display: flex;
    z-index: 10000;
    top: 91%;
    width: 100%;
    border-radius:13px 13px 0px 0px;
}

footer nav{
    display: flex;
    flex-direction: row;
    width: 100%;
}

footer nav span{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

nav span img{
    width: 20px;
}

footer span{
    display: flex;
    width: 100%;
}


footer span a{
    text-decoration: none;
    color: #C8C8C8;
}